.buttom {
    color: white;
    font-family: Arial;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    padding: 25px 20px;
    width: 210px;
    height: 23px;
    text-align: center;
    vertical-align: middle;
    border-bottom: 2px solid #3896b3;
}


.menu {
    display: block;
    list-style-type: none;
    width: 250px;
    height: 100%;
    background-color: #39b4e1;
    border-radius: 0px 10px 0px 0px;
    position: relative;
    left: -250px;
    bottom: -60px;
    transition: left 0.5s ease;
}


.main {
    color: white;
    width: 250px;
    text-align: center;
    vertical-align: middle;
    border-bottom: 2px solid #3896b3;
    font-family: Arial;
    -webkit-text-stroke: 1px #3896b3;
    margin: 0px;
    padding: 20px 0px 20px 0px;
}


body {
    margin: 0px;
}


.icon {
    width: 60px;
    height: 60px;
    background-color: #39b4e1;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    padding: 15px;
    font-size: 30px;
    color: black;
    position: absolute;
    top: 0px;
    left: 0px;

}


a {
    text-decoration: none;
}


.menuButton {
    position: relative;
    width: 60px;
    height: 60px;
    background-color: #39b4e1;
    vertical-align: top;
    border: 0px;
}