<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Удаление аккаунта</title>
</head>
<header>
    {% include 'Menu.html' %}
</header>
<body>
<h2>Выберите аккаунты, которые хотите удалить</h2>
<form action="/redact/deleteaccounts/" method="POST">
    {% csrf_token %}
    {{ form.pupils }}
    <input type="submit" value="Удалить">
</form>
{%  if nothing_entered %}
    <p></p>
{% else %}
    {% if form.errors %}
        <p>Найдены ошибки при заполнении</p>
        {% for key, value in form.errors.items %}
            <li>Поле {{ key|escape }} : {{ value|escape }}</li>
        {% endfor %}
    {% endif %}
{% endif %}
<p>{{ message }}</p>
</body>
<footer>
    {% include 'Footer.html' %}
</footer>
</html>